name: Publish Charts

on:
  workflow_call:

jobs:
  publish-charts:
    permissions:
      contents: write
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Configure Git
        run: |
          git config user.name "$GITHUB_ACTOR"
          git config user.email "$GITHUB_ACTOR@users.noreply.github.com"

      - name: Add helm repo bitnami
        run: helm repo add bitnami https://charts.bitnami.com/bitnami

      - name: Download Git Tag Artifact
        uses: actions/download-artifact@v4
        with:
          name: git_tag

      - name: Read Git Tag
        id: read_git_tag
        run: echo "GIT_TAG=$(<git_tag.txt)" >> $GITHUB_ENV
      
      - name: Set chart and image versions to github tag
        run: |
          sed -i "s/^version:.*/version: ${{ env.GIT_TAG }}/" charts/client_service/Chart.yaml
          sed -i "s/client_service:.*/client_service:${{ env.GIT_TAG }}/" charts/client_service/values.yaml
          sed -i "s/^version:.*/version: ${{ env.GIT_TAG }}/" charts/coordination_service/Chart.yaml
          sed -i "s/coordination_service:.*/coordination_service:${{ env.GIT_TAG }}/" charts/coordination_service/values.yaml
          sed -i "s/^version:.*/version: ${{ env.GIT_TAG }}/" charts/csmock/Chart.yaml
          sed -i "s/client_service:.*/client_service:${{ env.GIT_TAG }}/" charts/csmock/values.yaml
          sed -i "s/^version:.*/version: ${{ env.GIT_TAG }}/" charts/secure-collab-comp/Chart.yaml
          sed -i "s/^    version:.*/    version: ${{ env.GIT_TAG }}/" charts/secure-collab-comp/Chart.yaml

      # autocommit
      - uses: stefanzweifel/git-auto-commit-action@v4
        with:
          commit_message: Version Update to ${{ env.GIT_TAG }}

      - name: Run chart-releaser
        # uses: helm/chart-releaser-action@v1.6.0
        uses: rayen-dhmaied/release-helm-charts@v1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          charts_branch: main
          charts_dir: charts
          publish_branch: gh-pages
